<div class="col-md-7 col-lg-7">


    <div class="row store-items" id="selections_section">
        <div class="container">
            <div *ngFor="let item of data">


                <div *ngIf="item.count>0" class="row">
                    <div class="pull-left">
                        <aside class="sidebar site-block">
                            <div class="sidebar-block">
                                <ul class="store-menu shop-groups-menu">
                                    <li class="father-market-icon">
                                        <span>{{item.name}}</span>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="pull-left">
                        <a href="go/breakfast">
                            <button type="button" class="btn btn-sm btn-block btn-success"
                                    style="margin-left:10px;">view more {{item.count}}
                            </button>
                        </a>
                    </div>
                </div>
                <div *ngIf="item.count>0" class="row">

                    <product [p]="p" *ngFor="let p of item.products"></product>



                </div>

            </div>

        </div>

    </div>

</div>